table.table {
  width: 100%;

  thead th.has-text-right {
    text-align: right;
  }

  tfoot button.button:not(:first-child) {
    margin-left: 5px;
  }

  td, th {
    vertical-align: middle;
  }
}
