os: linux
dist: bionic

addons:
  apt:
    sources:
      - sourceline: 'deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main'
        key_url: 'https://dl.google.com/linux/linux_signing_key.pub'
    packages:
      - google-chrome-stable

services:
  - xvfb

language: node_js

node_js:
  - "10"

script:
  - npm run lint
  - npm run test:cover
  - npm run e2e

after_success:
  - npm run coveralls
  - npm run codacy

before_deploy:
  - npm run build

deploy:
  provider: cloudfoundry
  api: https://api.run.pcfone.io
  username: $CF_USERNAME
  password: $CF_PASSWORD
  organization: pivot-jsharpe
  space: development
