<header class="header hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Salary statistics</h1>
      <h2 class="subtitle">Analyse and compare salaries by cohort</h2>
    </div>
  </div>
</header>

<section class="section">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Salary</th>
          <th>Cohort</th>
          <th class="has-text-right">
            <button class="button is-danger is-outlined is-small" (click)="deleteAllPeople()">Delete All</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people">
          <td class="name">{{ person.name }}</td>
          <td class="salary">{{ person.salary | currency:'GBP':true:'1.0-0' }}</td>
          <td class="cohort">{{ person.cohort }}</td>
          <td class="has-text-right">
            <button class="button is-danger is-outlined is-small"
                (click)="deletePerson(person)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot [formGroup]="newPersonForm">
        <tr>
          <td class="name control">
            <input #nameInput type="text" class="input" placeholder="Name" formControlName="name"
                [ngClass]="{ 'is-danger': formSubmitted && newPersonForm.controls['name'].invalid }">
          </td>
          <td class="salary control">
            <input type="number" class="input" placeholder="Salary" formControlName="salary"
                [ngClass]="{ 'is-danger': formSubmitted && newPersonForm.controls['salary'].invalid }">
          </td>
          <td class="cohort control">
            <input type="text" class="input" placeholder="Cohort" formControlName="cohort"
                [ngClass]="{ 'is-danger': formSubmitted && newPersonForm.controls['cohort'].invalid }">
          </td>
          <td class="has-text-right">
            <button class="button is-success is-small" (click)="addPerson()">Add</button>
            <button class="button is-warning is-small" (click)="clearInputs()">Clear</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>

<section class="section">
  <div class="container">
    <chart [options]="boxPlotOptions$ | async"></chart>
  </div>
</section>

<footer class="footer">
  <div class="container has-text-centered">
    <p>Created by <a href="http://hello.jonrshar.pe">Jonathan Sharpe</a>
      | Powered by <a href="https://angular.io">Angular</a>
      | Styled with <a href="http://bulma.io">Bulma</a>
    </p>
  </div>
</footer>
