<header class="header hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Salary statistics</h1>
      <h2 class="subtitle">Analyse and compare salaries by cohort</h2>
    </div>
  </div>
</header>

<sst-table></sst-table>

<sst-box-plot [people]="(people$ | async)!"
              [cohorts]="(cohorts$ | async)!"
></sst-box-plot>

<sst-cohort-comparison></sst-cohort-comparison>

<sst-bulk-upload></sst-bulk-upload>

<footer class="footer">
  <div class="container has-text-centered">
    <p>Created by <a href="http://hello.jonrshar.pe">Jonathan Sharpe</a>
      | Powered by <a href="https://angular.io">Angular</a>
      | Styled with <a href="http://bulma.io">Bulma</a>
    </p>
  </div>
</footer>
