@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css");
@import '~highcharts/css/highcharts';

$blue: hsl(217, 71%,  53%) !default;
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$red: hsl(348, 100%, 61%) !default;
$size-6: 1rem !default;

.highcharts-container {
  font-family: $family-sans-serif;
  font-size: $size-6;
}

.highcharts-credits {
  display: none;
}

.highcharts-color-0 {
  fill: $blue;
  stroke: $blue;
}

.highcharts-color-1 {
  fill: $red;
  stroke: $red;
}
