@import '~bulma/bulma';
@import '~highcharts/css/highcharts';

.highcharts-container {
  font-family: $family-sans-serif;
  font-size: $size-6;
}

.highcharts-credits {
  display: none;
}

.highcharts-color-0 {
  fill: $blue;
  stroke: $blue;
}
